.box-grande {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: salmon;
    margin: 30px;
    height: 100%;
    border-radius: 10px;
    flex-direction: column;
}

.box-grande button {
    height: 30px;
    border-radius: 10px;
}

.box-grande ul {
    margin-top: 20px;
    text-decoration: underline;
    text-align: center;
    color: white;
    font-size: 20px;
}